.dice-container{
            border:1px solid black;
            max-width:fit-content;
            padding:10px 20px;
            display: flex;
            flex-direction: column;
        }
        #roll-button{
            padding: 5px 20px;
            background-color: black;
            color: white;
            font-size: 20px;
            cursor: pointer;
            min-width:150px;
            border-radius: 40px;
            margin-top:20px;
        }
        .dice-image{
            height:200px;
            object-fit: contain;
        }
